In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
from wordcloud import WordCloud
from sklearn.feature_extraction.text import TfidfVectorizer ,ENGLISH_STOP_WORDS

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

import re 

import nltk
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.linear_model import LogisticRegression

# Merge The two datasets to get neutral emotion

In [3]:
train1 = pd.read_csv('./First Data/training.csv')
test1 = pd.read_csv('./First Data/test.csv')
val1 = pd.read_csv('./First Data/validation.csv')
val1.head()

                                                text  label
0  im feeling quite sad and sorry for myself but ...      0
1  i feel like i am still looking at a blank canv...      0
2                     i feel like a faithful servant      2
3                  i am just feeling cranky and blue      3
4  i can have for a treat or if i am feeling festive      1

In [4]:
df3 = pd.read_csv('./Third Data/tweet_emotions.csv')
df3.shape

(40000, 3)

In [10]:
df3 = df3[df3.sentiment == 'neutral'] #& 'boredom' & 'enthusiasm' & 'empty'
train2=df3[:1500]
test2 =df3[1500:2500]
val2 = df3[2500:3000]
val2.shape

(500, 3)

In [11]:
train2.drop(['tweet_id'],axis=1,inplace = True)
test2.drop(['tweet_id'],axis=1,inplace = True)
val2.drop(['tweet_id'],axis=1,inplace = True)
val2.head()

/home/paula/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

      sentiment                                            content
13513   neutral  thinks someone may have keyed her car.  Big sc...
13517   neutral                       It does! Lol but i have none
13520   neutral                  @compassandcoin you are not alone
13526   neutral         Finishing up my last Friday at Olive Crest
13528   neutral  @paulmjohnston Oh I know. For a while they can...

In [12]:
train2.rename(
    columns={"sentiment":"label",
                "content":"text",
                   }
          ,inplace=True)
test2.rename(
    columns={"sentiment":"label",
                "content":"text",
                   }
          ,inplace=True)
val2.rename(
    columns={"sentiment":"label",
                "content":"text",
                   }
          ,inplace=True)
val2.head()

/home/paula/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

         label                                               text
13513  neutral  thinks someone may have keyed her car.  Big sc...
13517  neutral                       It does! Lol but i have none
13520  neutral                  @compassandcoin you are not alone
13526  neutral         Finishing up my last Friday at Olive Crest
13528  neutral  @paulmjohnston Oh I know. For a while they can...

In [13]:
train2.label = 6
test2.label = 6
val2.label = 6
val2.head()

/home/paula/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

       label                                               text
13513      6  thinks someone may have keyed her car.  Big sc...
13517      6                       It does! Lol but i have none
13520      6                  @compassandcoin you are not alone
13526      6         Finishing up my last Friday at Olive Crest
13528      6  @paulmjohnston Oh I know. For a while they can...

In [15]:
train = pd.concat([train1, train2], ignore_index = True, axis = 0)
train.shape

(17500, 2)

In [16]:
train.to_csv(r'./merged data/train.csv', index = False)

In [17]:
test = pd.concat([test1, test2], ignore_index = True, axis = 0)
val = pd.concat([val1, val2], ignore_index = True, axis = 0)

In [18]:
test.to_csv(r'./merged data/test.csv', index = False)
val.to_csv(r'./merged data/val.csv', index = False)