In [25]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
from wordcloud import WordCloud
from sklearn.feature_extraction.text import TfidfVectorizer ,ENGLISH_STOP_WORDS

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

import re 
import nltk
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from sklearn.linear_model import PassiveAggressiveClassifier

In [26]:
train = pd.read_csv('./tweet_emotions.csv')
train.head()

,tweet_id,sentiment,content,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,1956967341,empty,@tiffanylue i know i was listenin to bad habi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1956967666,sadness,Layin n bed with a headache ughhhh...waitin o...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1956967696,sadness,Funeral ceremony...gloomy friday...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1956967789,enthusiasm,wants to hang out with friends SOON!,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1956968416,1,@dannycastillo We want to trade with someone w...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    40000 non-null  int64
 1   sentiment   40000 non-null  object
 2   content     39997 non-null  object
 3   Unnamed: 3  1812 non-null   object
 4   Unnamed: 4  655 non-null    object
 5   Unnamed: 5  121 non-null    object
 6   Unnamed: 6  53 non-null     object
 7   Unnamed: 7  18 non-null     object
 8   Unnamed: 8  8 non-null      object
 9   Unnamed: 9  3 non-null      object
dtypes: int64(1), object(9)
memory usage: 3.1+ MB

In [28]:
train['sentiment'].value_counts( )

1             8638
2             8459
happiness     5209
sadness       5165
love          3842
surprise      2187
fun           1776
relief        1526
hate          1323
empty          827
enthusiasm     759
boredom        179
anger          110
Name: sentiment, dtype: int64

In [30]:
train = train[train.sentiment != 'anger'] #& 'boredom' & 'enthusiasm' & 'empty'
train = train[train.sentiment != 'boredom']
train = train[train.sentiment != 'enthusiasm']
train = train[train.sentiment != 'empty']
train = train[train.sentiment != 'hate']

train = train[train.sentiment != 'relief']

train = train[train.sentiment != 'fun']
train = train[train.sentiment != 'surprise']
train = train[train.sentiment != 'love']
train = train[train.sentiment != 'sadness']
train = train[train.sentiment != 'happiness']


train = train[train.sentiment != 'sentiment']
train.head()

,tweet_id,sentiment,content,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
4,1956968416,1,@dannycastillo We want to trade with someone w...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1956968477,2,Re-pinging @ghostridah14: why didn't you go to...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1956968636,2,Hmmm. http://www.djhero.com/ is down,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1956969456,1,cant fall asleep,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1956969531,2,Choked on her retainers,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
train['content']=train['content'].str.lower()
train['content'].tail()

39990    @shonali i think the lesson of the day is not ...
39991    @lovelylisaj can you give me the link for the ...
39992    @jasimmo ooo showing of your french skills!! l...
39993    @sendsome2me haha, yeah. twitter has many uses...
39995                                     @johnlloydtaylor
Name: content, dtype: object

In [38]:
stopwordlist = ['a', 'about', 'above', 'after', 'again', 'ain', 'all', 'am', 'an',
             'and','any','are', 'as', 'at', 'be', 'because', 'been', 'before',
             'being', 'below', 'between','both', 'by', 'can', 'd', 'did', 'do',
             'does', 'doing', 'down', 'during', 'each','few', 'for', 'from',
             'further', 'had', 'has', 'have', 'having', 'he', 'her', 'here',
             'hers', 'herself', 'him', 'himself', 'his', 'how', 'i', 'if', 'in',
             'into','is', 'it', 'its', 'itself', 'just', 'll', 'm', 'ma',
             'me', 'more', 'most','my', 'myself', 'now', 'o', 'of', 'on', 'once',
             'only', 'or', 'other', 'our', 'ours','ourselves', 'out', 'own', 're','s', 'same', 'she', "shes", 'should', "shouldve",'so', 'some', 'such',
             't', 'than', 'that', "thatll", 'the', 'their', 'theirs', 'them',
             'themselves', 'then', 'there', 'these', 'they', 'this', 'those',
             'through', 'to', 'too','under', 'until', 'up', 've', 'very', 'was',
             'we', 'were', 'what', 'when', 'where','which','while', 'who', 'whom',
             'why', 'will', 'with', 'won', 'y', 'you', "youd","youll", "youre",
             "youve", 'your', 'yours', 'yourself', 'yourselves']
STOPWORDS = set(stopwordlist)
def cleaning_stopwords(text):
    return " ".join([word for word in str(text).split() if word not in STOPWORDS])
train['content'] = train['content'].apply(lambda text: cleaning_stopwords(text))
train['content'].tail()

39990                @shonali think lesson day not luggage
39991         @lovelylisaj give link kimba diaries please?
39992    @jasimmo ooo showing french skills!! lol thing...
39993    @sendsome2me haha, yeah. twitter many uses. it...
39995                                     @johnlloydtaylor
Name: content, dtype: object

In [39]:
import re
def cleaning_tags(text):
    return ' '.join(re.sub("([@#][A-Za-z0-9_]+)|(\w+:\/\/\S+)"," ", text).split())

train['content'] = train['content'].apply(lambda x: cleaning_tags(x))
train['content'].tail()

39990                         think lesson day not luggage
39991                      give link kimba diaries please?
39992    ooo showing french skills!! lol things good ov...
39993    haha, yeah. twitter many uses. it's know ppl care
39995
Name: content, dtype: object

In [40]:
from manual_spellchecker import spell_checker

ModuleNotFoundError: No module named 'manual_spellchecker'

In [41]:
import string
english_punctuations = string.punctuation
punctuations_list = english_punctuations
def cleaning_punctuations(text):
    translator = str.maketrans('', '', punctuations_list)
    return text.translate(translator)
train['content']= train['content'].apply(lambda x: cleaning_punctuations(x))
train['content'].tail()

39990                         think lesson day not luggage
39991                       give link kimba diaries please
39992    ooo showing french skills lol things good over...
39993        haha yeah twitter many uses its know ppl care
39995
Name: content, dtype: object

In [42]:
def cleaning_repeating_char(text):
    return re.sub(r'(.)1+', r'1', text)
train['content'] = train['content'].apply(lambda x: cleaning_repeating_char(x))
train['content'].tail()

39990                         think lesson day not luggage
39991                       give link kimba diaries please
39992    ooo showing french skills lol things good over...
39993        haha yeah twitter many uses its know ppl care
39995
Name: content, dtype: object

In [43]:
def cleaning_URLs(data):
    return re.sub('((www.[^s]+)|(https?://[^s]+))',' ',data)
train['content'] = train['content'].apply(lambda x: cleaning_URLs(x))
train['content'].tail()

39990                         think lesson day not luggage
39991                       give link kimba diaries please
39992    ooo showing french skills lol things good over...
39993        haha yeah twitter many uses its know ppl care
39995
Name: content, dtype: object

In [44]:
def cleaning_numbers(data):
    return re.sub('[0-9]+', '', data)
train['content'] = train['content'].apply(lambda x: cleaning_numbers(x))
train['content'].tail()

39990                         think lesson day not luggage
39991                       give link kimba diaries please
39992    ooo showing french skills lol things good over...
39993        haha yeah twitter many uses its know ppl care
39995
Name: content, dtype: object

In [45]:
import nltk
from nltk.corpus import stopwords

def remove_stopwords(text):
    x=[]
    for i in text.split():
        
        if i not in stopwords.words('english'):
            x.append(i)
    y=x[:]
    x.clear()
    return y
train['content']=train['content'].apply(remove_stopwords)

In [46]:
def join_back(list_input):
    return " ".join(list_input)
    

train['content']=train['content'].apply(join_back)

In [47]:
from nltk.stem.porter import PorterStemmer
ps= PorterStemmer()
y=[]

def stem_words(text):
    for i in text:
        y.append(ps.stem(i))
    z=y[:]
    y.clear()
    return z
train['content']=train['content'].apply(stem_words)

In [48]:
def joinback2(list_input):
    return "".join(list_input)
    


train['content']=train['content'].apply(joinback2)

In [49]:
X=train['content']
y=train.sentiment
X_train, X_test, y_train,y_test = train_test_split(X,y,test_size=0.3)

In [50]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=1500)

In [51]:
X_train = cv.fit_transform(X_train).toarray()
X_test=cv.transform(X_test).toarray()

In [52]:
pac=PassiveAggressiveClassifier(max_iter=40)
pac.fit(X_train,y_train)

PassiveAggressiveClassifier(max_iter=40)

In [53]:
y_pred=pac.predict(X_test)
score=accuracy_score(y_test,y_pred)
print(f'Accuracy: {round(score*100,2)}%')

Accuracy: 57.25%

In [58]:
log_reg = LogisticRegression(max_iter=50).fit(X_train, y_train)

/home/paula/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [59]:
y_predicted = log_reg.predict(X_test)
score=accuracy_score(y_test,y_predicted)
print(f'Accuracy: {round(score*100,2)}%')

Accuracy: 65.28%

In [86]:
from nltk.tokenize import RegexpTokenizer
tokenizer = RegexpTokenizer(r'w+')
train['content'] = train['content'].apply(tokenizer.tokenize)
train['content'].head()

4     [w, w]
5         []
7         []
10        []
11        []
Name: content, dtype: object

In [7]:
import re
def clean_html(text):
    
    clean = re.compile('<.*?>')
    return re.sub(clean, '',text)
    
train['content']=train['content'].apply(clean_html)

In [8]:
def convert_lower(text):
    return text.lower()

train['content']=train['content'].apply(convert_lower)

In [9]:
def remove_special(text):
        x=''
        for i in text:
            if i.isalnum():
                x=x+i
            else:
                x=x+' '
        return x

train['content']=train['content'].apply(remove_special)

In [10]:
import nltk
from nltk.corpus import stopwords

def remove_stopwords(text):
    x=[]
    for i in text.split():
        
        if i not in stopwords.words('english'):
            x.append(i)
    y=x[:]
    x.clear()
    return y
train['content']=train['content'].apply(remove_stopwords)

In [11]:
def join_back(list_input):
    return " ".join(list_input)
    

train['content']=train['content'].apply(join_back)

In [12]:
from nltk.stem.porter import PorterStemmer
ps= PorterStemmer()
y=[]

def stem_words(text):
    for i in text:
        y.append(ps.stem(i))
    z=y[:]
    y.clear()
    return z
train['content']=train['content'].apply(stem_words)

In [13]:
def joinback2(list_input):
    return "".join(list_input)
    


train['content']=train['content'].apply(joinback2)

In [14]:
train.head()

     tweet_id   sentiment                                            content
0  1956967341       empty  tiffanylue know listenin bad habit earlier sta...
1  1956967666     sadness            layin n bed headache ughhhh waitin call
2  1956967696     sadness                     funeral ceremony gloomy friday
3  1956967789  enthusiasm                            wants hang friends soon
4  1956968416     neutral  dannycastillo want trade someone houston ticke...

In [15]:
train = train[train.sentiment != 'anger'] #& 'boredom' & 'enthusiasm' & 'empty'
train = train[train.sentiment != 'boredom']
train = train[train.sentiment != 'enthusiasm']
train = train[train.sentiment != 'empty']
train = train[train.sentiment != 'sentiment']

In [16]:
train.head()

     tweet_id sentiment                                            content
1  1956967666   sadness            layin n bed headache ughhhh waitin call
2  1956967696   sadness                     funeral ceremony gloomy friday
4  1956968416   neutral  dannycastillo want trade someone houston ticke...
5  1956968477     worry    pinging ghostridah14 go prom bc bf like friends
6  1956968487   sadness  sleep im thinking old friend want married damn...

In [19]:
label_dict = {}
possible_labels = train.sentiment.unique()
#loop over index
for index, possible_label in enumerate(possible_labels):
    label_dict[possible_label] = index
print(label_dict)

{'sadness': 0, 'neutral': 1, 'worry': 2, 'surprise': 3, 'love': 4, 'fun': 5, 'hate': 6, 'happiness': 7, 'relief': 8}

     tweet_id sentiment                                            content
1  1956967666   sadness            layin n bed headache ughhhh waitin call
2  1956967696   sadness                     funeral ceremony gloomy friday
4  1956968416   neutral  dannycastillo want trade someone houston ticke...
5  1956968477     worry    pinging ghostridah14 go prom bc bf like friends
6  1956968487   sadness  sleep im thinking old friend want married damn...

In [21]:
train['label'] = train.sentiment.replace(label_dict)
train.head()

,tweet_id,sentiment,content,label
1,1956967666,sadness,layin n bed headache ughhhh waitin call,0
2,1956967696,sadness,funeral ceremony gloomy friday,0
4,1956968416,neutral,dannycastillo want trade someone houston ticke...,1
5,1956968477,worry,pinging ghostridah14 go prom bc bf like friends,2
6,1956968487,sadness,sleep im thinking old friend want married damn...,0

In [22]:
train.isnull().sum()

tweet_id     0
sentiment    0
content      0
label        0
dtype: int64

In [25]:
train.drop(['tweet_id','sentiment'],axis=1, inplace=True)

KeyError: "['tweet_id' 'sentiment'] not found in axis"

In [26]:
train.head()

                                             content  label
1            layin n bed headache ughhhh waitin call      0
2                     funeral ceremony gloomy friday      0
4  dannycastillo want trade someone houston ticke...      1
5    pinging ghostridah14 go prom bc bf like friends      2
6  sleep im thinking old friend want married damn...      0

In [27]:
X=train['content']
y=train.iloc[:,-1].values
X_train, X_test, y_train,y_test = train_test_split(X,y,test_size=0.3)

In [28]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=1500)

In [29]:
X_train = cv.fit_transform(X_train).toarray()
X_test=cv.transform(X_test).toarray()

In [41]:
pac=PassiveAggressiveClassifier(max_iter=150)
pac.fit(X_train,y_train)

PassiveAggressiveClassifier(max_iter=150)

In [42]:
y_pred=pac.predict(X_test)
score=accuracy_score(y_test,y_pred)
print(f'Accuracy: {round(score*100,2)}%')

Accuracy: 21.87%

In [46]:
from sklearn.linear_model import RidgeClassifier
rc = RidgeClassifier()

RidgeClassifier(alpha=1.0, class_weight=None, copy_X=True, fit_intercept=True,
                max_iter=None, normalize=True, random_state=None, solver='auto',
                tol=0.001)
rc.fit(X_train, y_train)
score = rc.score(X_train, y_train)
print("Score: ", score)

Score:  0.44145089369355867

In [49]:
from sklearn.metrics import classification_report

ypred = rc.predict(X_test)
cr = classification_report(y_test, ypred)
print(cr)

              precision    recall  f1-score   support

           0       0.34      0.25      0.29      1555
           1       0.35      0.61      0.44      2601
           2       0.36      0.41      0.38      2499
           3       0.14      0.02      0.04       647
           4       0.46      0.40      0.43      1133
           5       0.12      0.01      0.02       517
           6       0.46      0.18      0.26       401
           7       0.35      0.33      0.34      1583
           8       0.23      0.02      0.03       502

    accuracy                           0.36     11438
   macro avg       0.31      0.25      0.25     11438
weighted avg       0.34      0.36      0.33     11438

In [ ]:
ypred = rc.predict(xtest)

cm = confusion_matrix(ytest, ypred)

In [36]:
xg_reg.fit(X_train,y_train)

preds = xg_reg.predict(X_test)

[18:10:55] WARNING: /workspace/src/objective/regression_obj.cu:170: reg:linear is now deprecated in favor of reg:squarederror.
[18:11:04] WARNING: /workspace/src/objective/regression_obj.cu:170: reg:linear is now deprecated in favor of reg:squarederror.

In [37]:
rmse = np.sqrt(mean_squared_error(y_test, preds))
print("RMSE: %f" % (rmse))

RMSE: 2.601954