In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
from wordcloud import WordCloud
from sklearn.feature_extraction.text import TfidfVectorizer ,ENGLISH_STOP_WORDS

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

import re 

import nltk
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.linear_model import LogisticRegression

# Merge The two datasets to get neutral emotion

In [2]:
train1 = pd.read_csv('./First Data/training.csv')
test1 = pd.read_csv('./First Data/test.csv')
val1 = pd.read_csv('./First Data/validation.csv')
val1.head()

                                                text  label
0  im feeling quite sad and sorry for myself but ...      0
1  i feel like i am still looking at a blank canv...      0
2                     i feel like a faithful servant      2
3                  i am just feeling cranky and blue      3
4  i can have for a treat or if i am feeling festive      1

In [3]:
df3 = pd.read_csv('./Third Data/tweet_emotions.csv')
df3.shape

(40000, 3)

In [4]:
df3 = df3[df3.sentiment == 'neutral'] #& 'boredom' & 'enthusiasm' & 'empty'
train2=df3[:200]
test2 =df3[200:400]
val2 = df3[400:600]
val2.shape

(200, 3)

In [5]:
train2.drop(['tweet_id'],axis=1,inplace = True)
test2.drop(['tweet_id'],axis=1,inplace = True)
val2.drop(['tweet_id'],axis=1,inplace = True)
val2.head()

/home/paula/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

     sentiment                                            content
1875   neutral  I can't have any pets in the appartment I real...
1876   neutral                                 going to work soon
1879   neutral            So hot today.  Why must it be a weekday
1880   neutral                                     IT DIDN'T WORK
1881   neutral  I'm going to see Le Mis tonight. - myonlysanct...

In [6]:
train2.rename(
    columns={"sentiment":"label",
                "content":"text",
                   }
          ,inplace=True)
test2.rename(
    columns={"sentiment":"label",
                "content":"text",
                   }
          ,inplace=True)
val2.rename(
    columns={"sentiment":"label",
                "content":"text",
                   }
          ,inplace=True)
val2.head()

/home/paula/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

        label                                               text
1875  neutral  I can't have any pets in the appartment I real...
1876  neutral                                 going to work soon
1879  neutral            So hot today.  Why must it be a weekday
1880  neutral                                     IT DIDN'T WORK
1881  neutral  I'm going to see Le Mis tonight. - myonlysanct...

In [7]:
train2.label = 6
test2.label = 6
val2.label = 6
val2.head()

/home/paula/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

      label                                               text
1875      6  I can't have any pets in the appartment I real...
1876      6                                 going to work soon
1879      6            So hot today.  Why must it be a weekday
1880      6                                     IT DIDN'T WORK
1881      6  I'm going to see Le Mis tonight. - myonlysanct...

In [8]:
train = pd.concat([train1, train2], ignore_index = True, axis = 0)
train.shape

(16200, 2)

In [10]:
train=train.sample(frac = 1)
train.head()

                                                    text  label
384     i am feeling humorous i put cold callers on hold      1
15110  i feel sooooooooper vain taking pics of myself...      0
152    i still feel it does the genre a disservice wh...      1
7135   i still didnt see a difference in the way my p...      0
6139                               i wont feel regretful      0

In [11]:
train.to_csv(r'./merged data/train.csv', index = False)

In [12]:
test = pd.concat([test1, test2], ignore_index = True, axis = 0)
val = pd.concat([val1, val2], ignore_index = True, axis = 0)

In [13]:
test=test.sample(frac = 1)

In [14]:
val=val.sample(frac = 1)

In [15]:
test.to_csv(r'./merged data/test.csv', index = False)
val.to_csv(r'./merged data/val.csv', index = False)